<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://jva.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="3.0">
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>com.octest.servlets.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/en</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccueilFr</servlet-name>
    <servlet-class>com.octest.servlets.AccueilFr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilFr</servlet-name>
    <url-pattern>/fr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Actu</servlet-name>
    <servlet-class>com.octest.servlets.Actu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Actu</servlet-name>
    <url-pattern>/en/Actualite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActuFr</servlet-name>
    <servlet-class>com.octest.servlets.ActuFr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActuFr</servlet-name>
    <url-pattern>/fr/Actualite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EspaceClient</servlet-name>
    <servlet-class>com.octest.servlets.EspaceClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EspaceClient</servlet-name>
    <url-pattern>/fr/Espace-Client</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Identification</servlet-name>
    <servlet-class>com.octest.servlets.Identification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Identification</servlet-name>
    <url-pattern>/fr/Identification</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Compte</servlet-name>
    <servlet-class>com.octest.servlets.Compte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Compte</servlet-name>
    <url-pattern>/fr/creation-compte</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControleurClient</servlet-name>
    <servlet-class>com.octest.servlets.ControleurClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControleurClient</servlet-name>
    <url-pattern>/fr/controleur-client</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControleurCompte</servlet-name>
    <servlet-class>com.octest.servlets.ControleurCompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControleurCompte</servlet-name>
    <url-pattern>/fr/controleur-compte</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Erreur</servlet-name>
    <servlet-class>com.octest.servlets.Erreur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Erreur</servlet-name>
    <url-pattern>/fr/Identification/erreur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MauvaisMdp</servlet-name>
    <servlet-class>com.octest.servlets.MauvaisMdp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MauvaisMdp</servlet-name>
    <url-pattern>/fr/Identification/erreur-mdp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>client</servlet-name>
    <servlet-class>eddy.servlet.client</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>client</servlet-name>
    <url-pattern>/fr/authentification</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AcceuilClient</servlet-name>
    <servlet-class>eddy.servlet.AcceuilClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceuilClient</servlet-name>
    <url-pattern>/fr/authentification/profil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Fichier</servlet-name>
    <servlet-class>eddy.servlet.Fichier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fichier</servlet-name>
    <url-pattern>/fr/authentification/profil/bordereau</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Service</servlet-name>
    <servlet-class>com.octest.servlets.Service</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Service</servlet-name>
    <url-pattern>/fr/Service</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifActu</servlet-name>
    <servlet-class>eddy.servlet.ModifActu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifActu</servlet-name>
    <url-pattern>/fr/modifier-actualite</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FormulaireContact</servlet-name>
    <servlet-class>eddy.servlet.FormulaireContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormulaireContact</servlet-name>
    <url-pattern>/fr/contact</url-pattern>
  </servlet-mapping>
</web-app>